* {
    box-sizing: border-box;
}
img:hover {
	opacity: 50%;
}

img {
        width : 400px;
        height : 400px;
        border-radius: 3px;
    }

h1 {
    text-align: center;
    font-size: 50px; 
}
body {
    background-color:rgba(241, 239, 235, 0.894);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.gray:first-of-type {
	filter: grayscale(10)
}
h2 {
    color: gray;
}
a {
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
    position: sticky;
}
header {
    border-bottom: 3px solid rgb(0, 4, 10);
}
header li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a {
    display: block;
    padding: 20px;
}
header li:hover a {
    background-color: gray;
    color: aliceblue;
}
header li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: gray;
    width: 200px;
}
.sub-menu li {
    display: block;
}
.sub-menu li a {
    color: aliceblue;
}
.sub-menu li:hover a {
    background-color: aliceblue;
    color: grey;
}
