* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0 auto;
}
.menuderoulant {
    width: 100%;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: #a4a2a2;
    z-index: 1000; 
}

.main-menu {
    display:flex;
    width:70%;
    padding-left:0px;
}

.background {
    background: url("https://st4.depositphotos.com/18433260/31347/i/450/depositphotos_313471824-stock-photo-digital-binary-code-business-background.jpg") no-repeat center;
    background-size: cover;
    filter: grayscale(10);
    margin-top: -8%;
    padding-bottom: 25%;
    padding-top: 25%;
}
header {
    margin-top: 0%;  
    top: 1px;
}

nav li {
    display: inline-block;
    vertical-align: top;
    position: sticky;
}

nav li a {
    display: flex;
    padding: 20px;
    color: hwb(0 96% 2%);
    background-color: rgb(164, 162, 162);
}

nav li:hover a {
    background-color: rgb(164, 162, 162);
    color: aliceblue;
}

nav li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: rgb(164, 162, 162);
    width: 200px;
    text-align: left;
    padding-left:0;

}
.sub-menu li {
    display: block;
}
.sub-menu li a {
    color: aliceblue;
}
.sub-menu li:hover a {
    background-color: aliceblue;
    color: grey;

}
img:hover {
	opacity: 50%;
}

img {
        width : 400px;
        height : 250px;
        border-radius: 3px;
        margin-top: 3%;
    }
.gray {
    width: 150px;
    height: 150px;
    border-radius: 3px;
}

h1 {
    text-align: center;
    font-size: 80px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
}

h2 {
    color: black;
    font-size: xx-large;
    text-align: center;
}
body {
    background-color:rgb(#fff);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.topprojet:nth-child(1) {
	filter: grayscale(10)
}

a {
    text-decoration: none;
    color: #fff;
}

.tete {
    width: 100%;
    border: 3px;
    margin-top: 2%;
}
.columflex {
    display: flex;
    flex-direction:row;
    margin-top: 5%;
}
.flexpro {
    display: flex;
    flex-direction: row;
    margin-top: 7%;  
}
.flexart {
    display: flex;
    flex-direction: row;
}
.etudestitle {
    font-size: x-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headsh2 {
    margin-top: 10%;
}
 .fa-puzzle-piece {
 color: pink;
 display: flex;
 justify-content: flex-end;
 }

.headsh2contact {
    margin-top: 10%;
    margin-bottom: 3%;
}

footer {
    background-color: gray;
    margin-top: 5%;
    color: #fff;   
}
.footerlink {
    display: flex;
    justify-content: center;
}
.resizeimg {
    width: 150px;
    height: 150px;
    border-radius: 3px; 
}

.columflex {
    gap: 3%;
    margin-left: 2%;
    margin-right: 2%;
}